<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script>
    $(document).ready(function() {
      $(".btn-pref .btn").click(function () {
        $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
        // $(".tab").addClass("active"); // instead of this do the below
        $(this).removeClass("btn-default").addClass("btn-primary");
      });
    });
  </script>
</head>

<div class="alles">
<div class="col-lg-6 col-sm-6">
  <div class="card hovercard">
    <div class="card-background">
      <img class="card-bkimg" alt="" src="https://scontent-amt2-1.xx.fbcdn.net/v/t1.0-9/29513296_1186175838186308_7575881302090863203_n.jpg?_nc_cat=0&oh=bda2a498bfd0841fe6c2a58b9d976a7c&oe=5B74945A">

    </div>
    <div class="useravatar">
      <img alt="" src="https://scontent-amt2-1.xx.fbcdn.net/v/t1.0-9/29513296_1186175838186308_7575881302090863203_n.jpg?_nc_cat=0&oh=bda2a498bfd0841fe6c2a58b9d976a7c&oe=5B74945A">
    </div>
    <div class="card-info"> <span class="card-title">Yannick van Leeuwen - Profiel</span>

    </div>
  </div>
  <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button type="button" id="details" class="btn btn-default" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        <div class="hidden-xs">Persoonlijke gegevens</div>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" id="tweets" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>
        <div class="hidden-xs">Tweets</div>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" id="statistics" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
        <div class="hidden-xs">Statistieken</div>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" id="following" class="btn btn-default" href="#tab4" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <div class="hidden-xs">Following</div>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" id="edit" class="btn btn-default" href="#tab5" data-toggle="tab"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        <div class="hidden-xs">Wijzig gegevens</div>
      </button>
    </div>
  </div>

  <div class="well">
    <div class="tab-content">
      <div class="tab-pane fade in" id="tab1">
        <h3>Overzicht persoonlijke gegevens</h3>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="well well-sm">
                <div class="row">
                  <div class="col-sm-6 col-md-4" *ngFor="let post of profilearray;">
                    <img src="{{post.picture}}" alt="" class="img-rounded img-responsive" />
                  </div>
                  <div class="col-sm-6 col-md-8" *ngFor="let post of profilearray;">
                    <h4>{{post.name}}</h4>
                    <small><cite title="Tilburg, Netherlands">{{post.location}}<i class="glyphicon glyphicon-map-marker">
                    </i></cite></small>
                    <p>
                      <i class="glyphicon glyphicon-envelope"></i>s.student@fontys.nl
                      <br />
                      <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">{{post.web}}</a>
                      <br />
                      <i class="glyphicon glyphicon-gift"></i>September 28, 1996</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade in" id="tab2">
        <h3>Overzicht van jouw tweets</h3>

      </div>

      <div class="tab-pane fade in" id="tab3">
        <h3>Overzicht van jouw statistieken</h3>

      </div>

      <div class="tab-pane fade in" id="tab4">
        <h3>Overzicht van de gebruikers die jij volgt</h3>

      </div>

      <div class="tab-pane fade in" id="tab5">
        <h3>Wijzig je gegevens</h3>
        <div class="container">

          <div class="row">
            <!-- left column -->
            <div class="col-md-3">
              <div class="text-center">
                <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                <h6>Upload a different photo...</h6>

                <input [(ngModel)]="profile.picture" type="file" class="form-control" id="photo">
              </div>
            </div>

            <!-- edit form column -->
            <div class="col-md-9 personal-info">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="col-lg-3 control-label">Username:</label>
                  <div class="col-lg-5">
                    <input [(ngModel)]="profile.username" class="form-control" type="text" value="Bishop" id="username">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">Web:</label>
                  <div class="col-lg-5">
                    <input [(ngModel)]="profile.web" class="form-control" type="text" value="" id="web">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">Email:</label>
                  <div class="col-lg-5">
                    <input class="form-control" type="text" value="janesemail@gmail.com" id="email">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label">Locatie:</label>
                  <div class="col-md-5">
                    <input [(ngModel)]="profile.location" class="form-control" type="text" value="janeuser" id="location">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label">Biography:</label>
                  <div class="col-md-5">
                    <textarea  [(ngModel)]="profile.bio" class="form-control" style="width: 340px;" placeholder="Vertel iets over jezelf..." aria-label="" aria-describedby="basic-addon1" ng-model="test" ng-trim="false" maxlength="160"></textarea>
                    <span>{{160 - profile.bio.length}} left</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label"></label>
                  <div class="col-md-8">
                    <button type="button" class="btn btn-default" (click)="boom();">Post changes</button>
                    <span></span>
                    <input type="reset" class="btn btn-default" value="Cancel">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
</div>

