<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type='text/javascript' src='http://code.jquery.com/jquery.min.js'></script>
  <script>
    function myFunction() {
      document.getElementById("followButton").disabled = true;
    }
  </script>

  <script type='text/javascript'>
    $(function () {
      $('#searchInput').onkeyup(function () {
        if ($(this).val() == '') {
          $('.enableOnInput').prop('disabled', true);
        } else {
          $('.enableOnInput').prop('disabled', false);
        }
      });
    });
  </script>
</head>



<!------ Include the above in your HEAD tag ---------->
<div class="col-lg-6 col-sm-6">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Kwetter</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a routerLink="/profile">Profiel</a></li>
        <li class="active"><a routerLink="/startpagina">Startpagina</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-out" (click)="logout()"></span> Logout</a></li>
      </ul>
    </div>
  </nav>
  <div class="card hovercard">
    <div class="card-background">
      <img class="card-bkimg" alt="" src="https://scontent-amt2-1.xx.fbcdn.net/v/t1.0-9/29513296_1186175838186308_7575881302090863203_n.jpg?_nc_cat=0&oh=bda2a498bfd0841fe6c2a58b9d976a7c&oe=5B74945A">
      <!-- http://lorempixel.com/850/280/people/9/ -->
    </div>
    <div class="useravatar">
      <img alt="" src="https://scontent-amt2-1.xx.fbcdn.net/v/t1.0-9/29513296_1186175838186308_7575881302090863203_n.jpg?_nc_cat=0&oh=bda2a498bfd0841fe6c2a58b9d976a7c&oe=5B74945A">
    </div>
    <div class="card-info"> <span class="card-title">{{naampje}} - Profiel</span>

    </div>
  </div>
  <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button type="button" id="details" class="btn btn-default" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        <div class="hidden-xs">Tweet posten</div>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" id="tweets" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        <div class="hidden-xs">Timeline</div>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" id="mentions" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
        <div class="hidden-xs">@Mentions</div>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" id="statistics" class="btn btn-default" href="#tab4" data-toggle="tab"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
        <div class="hidden-xs">Statistieken</div>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" id="trends" class="btn btn-default" href="#tab5" data-toggle="tab"><span class="glyphicon glyphicon-road" aria-hidden="true"></span>
        <div class="hidden-xs">Trends</div>
      </button>
    </div>
  </div>

  <div class="well">
    <div class="tab-content">
      <div class="tab-pane fade in" id="tab1">
        <h3>Tweet posten</h3>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button type="button" class="btn btn-default" (click)="addTweet(tweett.value);">Post tweet</button>
          </div>
          <textarea  [(ngModel)]="tweet.content" class="form-control" style="width: 500px;" placeholder="Wat ben je aan het doen?" aria-label="" aria-describedby="basic-addon1" ng-model="test" ng-trim="false" maxlength="140" #tweett></textarea>
          <span>{{140 - tweet.content.length}} left</span>
        </div>

      </div>
      <div class="tab-pane fade in" id="tab2">
        <h3>Timeline</h3>
        <div class="row">
          <table class="table">
            <thead class="thead-inverse">
            <tr>
              <th class="text-center">Id</th>
              <th class="text-center">Content</th>
              <th class="text-center">Tijdstip</th>
              <th class="text-center">Owner</th>
              <th class="text-center">Like</th>
              <th class="text-center">Flag</th>
              <th class="text-center">Follow</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let post of _postsArray;">
              <td class="text-center" style="width: 15px;">{{post.id}}</td>
              <td class="text-center" style="width: 200px;">{{post.content}}</td>
              <td class="text-center" style="width: 200px;">{{post.timeStamp}}</td>
              <td class="text-center" style="width: 200px;">{{post.owner}}</td>
              <td style="width: 15px; align-content: center"><button type="button" class="btn btn-default center-block text-center"  (click)="addLike(post.id);">Like</button></td>
              <td style="width: 15px;"><button type="button" class="btn btn-default center-block text-center"  (click)="addFlag(post.id);">Flag</button></td>
              <td style="width: 15px;"><button type="button" id="followButton" class="btn btn-default center-block text-center" onclick="myFunction()" (click)="followUser(post.owner);">Follow</button></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="tab-pane fade in" id="tab3">
        <h3>@Mentions</h3>
        <div class="row">
          <table class="table">
            <thead class="thead-inverse">
            <tr>
              <th class="text-center">Content</th>
              <th class="text-center">Tijdstip</th>
              <th class="text-center">Poster</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let post of _mentionsArray;">
              <td class="text-center" style="width: 15px;">{{post.content}}</td>
              <td class="text-center" style="width: 200px;">{{post.timeStamp}}</td>
              <td class="text-center" style="width: 200px;">{{post.owner}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="tab-pane fade in" id="tab4">
        <h3>Overzicht van jouw statistieken</h3>
        <div class="row">
          <table class="table">
            <thead class="thead-inverse">
            <tr>
              <th class="text-center">Aantal tweets</th>
              <th class="text-center">Aantal volgers</th>
              <th class="text-center">Aantal volgende</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="text-center" style="width: 15px;">{{_statisticssArray.tweetsCount}}</td>
              <td class="text-center" style="width: 15px;">{{_statisticssArray.followersCount}}</td>
              <td class="text-center" style="width: 15px;">{{_statisticssArray.supersCount}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="tab-pane fade in" id="tab5">
        <h3>Trending toppics</h3>
        <div class="row">
          <table class="table">
            <thead class="thead-inverse">
            <tr>
              <th class="text-center">Tag</th>
              <th class="text-center">Laad tweets</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tag of tagsArray;">
              <td class="text-center" style="width: 15px;">{{tag.content}}</td>
              <td style="width: 15px; align-content: center"><button type="button" class="btn btn-default center-block text-center"  (click)="addLike(tag.content);">Laadt</button></td>
            </tr>
            </tbody>
          </table>
        </div>

        <h3>Zoek naar Matches</h3>
        <div class="row">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="content" aria-describedby="basic-addon1" #name>
          </div>
          <button type="button" class="btn btn-default"  (click)="getByMatchs(name.value)">Zoek</button>
          <table class="table">
            <thead class="thead-inverse">
            <tr>
              <th class="text-center">Content</th>
              <th class="text-center">Tijdstip</th>
              <th class="text-center">Poster</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let post of _matchesArray;">
              <td class="text-center" style="width: 15px;">{{post.content}}</td>
              <td class="text-center" style="width: 200px;">{{post.timeStamp}}</td>
              <td class="text-center" style="width: 200px;">{{post.owner}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


